[Desktop Entry]
Encoding=UTF-8
Name=Lien vers DA Damien / dato · GitLab
Type=Link
URL=https://gitlab.com/dassieu.damien/dato
Icon=mate-fs-bookmark
Name[fr_FR]=Documentation Technique - Raffinage, Architecture
