[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Tom Froment / Dato For Visual Studio Code · GitLab
Type=Link
URL=https://gitlab.com/neckow/dato-vsc
Icon=mate-fs-bookmark
Name[fr_FR]=Documentation Utilisateur - Langage Dato, Extension
